This is a test template with nothing special in it yet.

We can place some variables in here like so:

    current_filename: {{ current_filename }}
    current_line_number: {{ current_line_number }}
    file_lines: {{ file_lines }}
    current_buffer_name: {{ current_buffer_name }}

